{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="display-4">Профіль користувача: {{ custom_user.username }}</h1>

    <ul class="list-group">
        <li class="list-group-item"><strong>Username:</strong> {{ custom_user.username }}</li>
        <li class="list-group-item"><strong>First name:</strong> {{ custom_user.first_name }}</li>
        <li class="list-group-item"><strong>Last name:</strong> {{ custom_user.last_name }}</li>
        <li class="list-group-item"><strong>Email address:</strong> {{ custom_user.email }}</li>
        <li class="list-group-item"><strong>Age:</strong> {{ custom_user.age }}</li>
        <li class="list-group-item"><strong>Description:</strong> {{ custom_user.bio }}</li>
        <!-- Інші атрибути користувача -->
        {% if user.is_authenticated and user == custom_user %}
        <li class="list-group-item">
            <a href="{% url 'custom_user:edit_profile' %}" class="btn btn-warning btn-sm">Редагувати профіль</a>
        </li>
    {% endif %}
        {% if user.is_authenticated and user != custom_user %}
            <li class="list-group-item">
                {% if is_following %}
                    <form method="post" action="{% url 'custom_user:unsubscribe' custom_user.username %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Відписатись</button>
                    </form>
                {% else %}
                    <form method="post" action="{% url 'custom_user:subscribe' custom_user.username %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-sm">Підписатись</button>
                    </form>
                {% endif %}
            </li>
        {% endif %}
        {% if user.is_authenticated %}
            {% if user == custom_user %}
                <li class="list-group-item"><strong>Підписники:</strong>
                    {% for follower in custom_user.followers.all %}
                        {{ follower.username }}
                    {% endfor %}
                </li>
                <li class="list-group-item"><strong>Ти підписаний на:</strong>
                    {% for following in custom_user.following.all %}
                        {{ following.username }}
                    {% endfor %}
                </li>
            {% else %}
                <li class="list-group-item"><strong>Підписники:</strong>
                    {% for follower in custom_user.followers.all %}
                        {{ follower.username }}
                    {% endfor %}
                </li>
            {% endif %}
        {% endif %}
    </ul>
</div>
{% endblock %}